.home-page-container {
  padding-bottom: 75px;
}

.home-splash-container {
  background-image: url("https://s.aolcdn.com/hss/storage/midas/6a8a1ebcb1514d2f462430590dbe98d8/203601368/wayne-residence-1400.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 718px;
  align-items: center;
  // position: relative;
  // bottom: 60px;
}

.splash-search-container {
  display: inline-block;
  position: relative;
  font-size: 24px;
  left: 45%;
  top: 60%;
  height: 50px;
}

.splash-text {
  z-index: 2;
  background: transparent;
  background-color: transparent;
  font-family: $sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: white;
  position: relative;
  top: 56%;
  left: 3%;
  // height: 300px;
  // width: 300px;
}
