.home-splash-container {
  background-image: url("https://s.aolcdn.com/hss/storage/midas/6a8a1ebcb1514d2f462430590dbe98d8/203601368/wayne-residence-1400.jpg");
  background-size: contain cover no-repeat;
  background-position: center;
  width: 100vw;
  height: 718px;
}
