.listing-index-wrapper {
  padding-bottom: 75px;
}
.listing-index-content {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  padding: 0% 3% 0% 5%;
}

.listing-preview-image {
  height: 195px;
  width: 285px;
  border-radius: 3px;
  object-fit: cover;
}

.listing-index-header {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  font-family: $sans-serif;
}

.listing-index-map-container {
  position: sticky;
  padding-top: 3px;
  padding-right: 35px;
  top: 20px;
  float: right;
  margin-right: 10px;
  height: 800px;
  width: 545px;
}
