.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  border: black;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-x {
  position: absolute;
  margin: 25px;
  padding: 2px;
  line-height: 27px;
  font-family: $sans-serif;
  font-size: 24px;
  color: $grey;
  border: 1px solid $lighter-grey;
  font-weight: 100;
  font-stretch: ultra-expanded;
  border-radius: 50%;
  box-shadow: 0 0 2px $lighter-grey;
  cursor: pointer;
}
