.input-fields {
  border: 1px solid $light-grey;
  border-radius: 2px;
  width: 100%;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.email-input,
.username-input,
.password-input {
  width: 100%;
}
.session-form {
  width: 568px;
  height: 590px;
  font-family: $sans-serif;
}
.session-errors {
  align-items: baseline;
  height: 75px;
  width: 100%;
  color: red;
}

.session-submit {
  border-radius: 2px;
  background-color: $salmon-pink;
  width: 100.5%;
  text-align: center;
  color: $white;
  font-family: $sans-serif;
  font-size: 18px;
  padding: 10px 0 10px 0;
}
.session-form-footer {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.other-form-link {
  color: $sharks-teal;
}
