<!DOCTYPE html>
<html>
  <head>
    <title>LairBnB</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="icon" type="image/jpg" href="../assets/images/dragon_favicon_by_ihearttomoya-d5d9isx.jpg">

  </head>

  <body>
    <%= yield %>
  </body>
</html>
